.inputBox {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 10px;
}

input, textarea{
    width: 50%;
}

.section-btns {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.edit-btns {
    margin: 5%;
    display: flex;
    justify-content: center;
    gap: 10%;
    * {
        font-size: 21px;
    }
}

.fieldset {
    margin: 15% 0;
}