
.previewFieldset {
    display: flex;
    justify-content: center;
}

.previewFieldsetCenter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.previewBox {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
    * {
        margin: 0;
        padding: 0;
    }
    
}

.previewBox p{
    overflow-wrap: break-word;
}

.preview-btn {
    margin: 5%;
    font-size: 21px;
}
