
html, body {
    background-color: darkblue;
    margin: 0;
    padding: 0;
}

#root {
    background-color: white;
    border-radius: 25px;
    margin: 2% auto;
}

.grid-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 300px);
}

.section {
    margin: 5%;
}

.img-cell {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cell img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
}
